IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'romo')
BEGIN
  CREATE DATABASE [romo];
END
GO
USE [romo]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 12/02/2026 20:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Identificacion] [varchar](20) NOT NULL,
	[RazonSocial] [varchar](150) NOT NULL,
	[Direccion] [varchar](max) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 12/02/2026 20:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ProductoID] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [varchar](50) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[IVA_Porcentaje] [decimal](5, 2) NULL,
	[Stock] [int] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 12/02/2026 20:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[FacturaID] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFactura]  AS ('FAC-'+right('000000'+CONVERT([varchar](10),[FacturaID]),(6))),
	[Fecha] [datetime] NULL,
	[ClienteID] [int] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[IVA_Total] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[FacturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacturaDetalles]    Script Date: 12/02/2026 20:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturaDetalles](
	[DetalleID] [int] IDENTITY(1,1) NOT NULL,
	[FacturaID] [int] NOT NULL,
	[ProductoID] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitarioHistorico] [decimal](18, 2) NOT NULL,
	[SubtotalLinea] [decimal](18, 2) NOT NULL,
	[IVALinea] [decimal](18, 2) NOT NULL,
	[TotalLinea] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vReporteFacturas]    Script Date: 12/02/2026 20:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vReporteFacturas] AS
SELECT 
    f.FacturaID,
    f.NumeroFactura,
    f.Fecha,
    c.RazonSocial AS Cliente,
    p.Nombre AS Producto,
    fd.Cantidad,
    fd.PrecioUnitarioHistorico AS Precio,
    fd.SubtotalLinea,
    fd.IVALinea,     -- Campo nuevo agregado
    fd.TotalLinea,    -- Campo nuevo agregado
    f.Estado
FROM Facturas f
JOIN Clientes c ON f.ClienteID = c.ClienteID
JOIN FacturaDetalles fd ON f.FacturaID = fd.FacturaID
JOIN Productos p ON fd.ProductoID = p.ProductoID;
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/02/2026 20:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[NombreCompleto] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ClienteID], [Identificacion], [RazonSocial], [Direccion], [Telefono], [Email], [Activo]) VALUES (1, N'12345678-0', N'Tienda (MODIFICADO)', NULL, NULL, N'nuevo@tienda.com', 0)
INSERT [dbo].[Clientes] ([ClienteID], [Identificacion], [RazonSocial], [Direccion], [Telefono], [Email], [Activo]) VALUES (2, N'12345678-9', N'Tienda de Prueba S.A. (editado)', NULL, NULL, N'contacto@tienda.com', 1)
INSERT [dbo].[Clientes] ([ClienteID], [Identificacion], [RazonSocial], [Direccion], [Telefono], [Email], [Activo]) VALUES (5, N'12345678-1', N'Roger Obregon editado', NULL, NULL, N'roger@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[FacturaDetalles] ON 

INSERT [dbo].[FacturaDetalles] ([DetalleID], [FacturaID], [ProductoID], [Cantidad], [PrecioUnitarioHistorico], [SubtotalLinea], [IVALinea], [TotalLinea]) VALUES (2, 2, 1, 2, CAST(10.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[FacturaDetalles] ([DetalleID], [FacturaID], [ProductoID], [Cantidad], [PrecioUnitarioHistorico], [SubtotalLinea], [IVALinea], [TotalLinea]) VALUES (3, 3, 1, 1, CAST(10.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[FacturaDetalles] ([DetalleID], [FacturaID], [ProductoID], [Cantidad], [PrecioUnitarioHistorico], [SubtotalLinea], [IVALinea], [TotalLinea]) VALUES (4, 5, 1, 1, CAST(10.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[FacturaDetalles] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([FacturaID], [Fecha], [ClienteID], [Subtotal], [IVA_Total], [Total], [Estado]) VALUES (1, CAST(N'2026-02-10T20:42:42.610' AS DateTime), 1, CAST(1150.00 AS Decimal(18, 2)), CAST(183.00 AS Decimal(18, 2)), CAST(1333.00 AS Decimal(18, 2)), N'ANULADA')
INSERT [dbo].[Facturas] ([FacturaID], [Fecha], [ClienteID], [Subtotal], [IVA_Total], [Total], [Estado]) VALUES (2, CAST(N'2026-02-11T11:41:50.480' AS DateTime), 1, CAST(20.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), CAST(23.00 AS Decimal(18, 2)), N'ANULADA')
INSERT [dbo].[Facturas] ([FacturaID], [Fecha], [ClienteID], [Subtotal], [IVA_Total], [Total], [Estado]) VALUES (3, CAST(N'2026-02-11T16:47:22.503' AS DateTime), 1, CAST(10.00 AS Decimal(18, 2)), CAST(1.50 AS Decimal(18, 2)), CAST(11.50 AS Decimal(18, 2)), N'ACTIVA')
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([ProductoID], [SKU], [Nombre], [PrecioUnitario], [IVA_Porcentaje], [Stock], [Activo]) VALUES (1, N'PROD001', N'Producto Estrella', CAST(10.00 AS Decimal(18, 2)), CAST(15.00 AS Decimal(5, 2)), 100, 1)
INSERT [dbo].[Productos] ([ProductoID], [SKU], [Nombre], [PrecioUnitario], [IVA_Porcentaje], [Stock], [Activo]) VALUES (2, N'MON-24-SAM-V2', N'Monitor Samsung 24 pulg Curvo', CAST(210.00 AS Decimal(18, 2)), CAST(16.00 AS Decimal(5, 2)), 20, 0)
INSERT [dbo].[Productos] ([ProductoID], [SKU], [Nombre], [PrecioUnitario], [IVA_Porcentaje], [Stock], [Activo]) VALUES (3, N'MON-24-SAM', N'Monitor Samsung 24 pulg', CAST(185.50 AS Decimal(18, 2)), CAST(16.00 AS Decimal(5, 2)), 15, 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioID], [Username], [PasswordHash], [NombreCompleto]) VALUES (3, N'admin', N'$2a$12$MVV9l.x7B9e300NDJXRRjuvDLv0NH9EIgb5UYAFJqiCDe0WJIWqjO', N'Usuario Nuevo')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__D6F931E5A4B9B945]    Script Date: 12/02/2026 20:54:55 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producto__CA1ECF0DDB0F6934]    Script Date: 12/02/2026 20:54:55 ******/
ALTER TABLE [dbo].[Productos] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__536C85E463A707A7]    Script Date: 12/02/2026 20:54:55 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[FacturaDetalles] ADD  DEFAULT ((0)) FOR [IVALinea]
GO
ALTER TABLE [dbo].[FacturaDetalles] ADD  DEFAULT ((0)) FOR [TotalLinea]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ('ACTIVA') FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((15.00)) FOR [IVA_Porcentaje]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[FacturaDetalles]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Factura] FOREIGN KEY([FacturaID])
REFERENCES [dbo].[Facturas] ([FacturaID])
GO
ALTER TABLE [dbo].[FacturaDetalles] CHECK CONSTRAINT [FK_Detalle_Factura]
GO
ALTER TABLE [dbo].[FacturaDetalles]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Producto] FOREIGN KEY([ProductoID])
REFERENCES [dbo].[Productos] ([ProductoID])
GO
ALTER TABLE [dbo].[FacturaDetalles] CHECK CONSTRAINT [FK_Detalle_Producto]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Factura_Cliente]
GO
